<div class="mx-2 my-2">
  <button matMiniFab aria-label="button with a add icon" (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <button matMiniFab aria-label="button with a add icon" class="mx-3" (click)="openEditDialog()" [disabled]="this.selection.selected.length !== 1">
    <mat-icon>edit</mat-icon>
  </button>
  <button matMiniFab aria-label="button with a delete" (click)="openDeleteDialog()" [disabled]="this.selection.selected.length < 1">
    <mat-icon>delete</mat-icon>
  </button>
</div>