<mat-toolbar>
  <span>SpaceMarket</span>
  <span class="example-fill-remaining-space"></span>
  @if(!(authService.isAuthenticated())) {
    <span class="mx-3">
      <a routerLink="/app-login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    </span>
    <span class="mx-3">
      <a routerLink="/app-sign-up" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
    </span>
  }
  @if(authService.isAuthenticated()) {
    <span class="mx-3">
      <a routerLink="/app-settings" routerLinkActive="active" ariaCurrentWhenActive="page">Settings</a>
    </span>
    <span class="mx-3">
      <a routerLink="/app-profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
    </span>
    <span class="mx-3" (click)="logout()">
      Logout
    </span>
  }
</mat-toolbar>
