<h2 mat-dialog-title>Add company</h2>
<form [formGroup]="companyAddForm" (ngSubmit)="onSubmitCompanyForm()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput>
    </mat-form-field>
    <div formArrayName="contacts">
      @for (contactControl of contacts.controls; track $index) {
      <div style="display: flex;">
        <div [formGroupName]="$index" class="w-100">
          <mat-form-field>
            <mat-label>Contact</mat-label>
            <input type="text" matInput formControlName="contact" [matAutocomplete]="auto"
              placeholder="Search by name...">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayContact">
              @for (contact of filteredContacts[$index] | async; track contact.id) {
              <mat-option [value]="contact">
                {{ contact.firstName }} {{ contact.lastName }}
              </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <div>
            @if ($index === contacts.length - 1) {
            <button class="mx-2" type="button" mat-mini-fab color="primary" (click)="addContact()">
              <mat-icon>add</mat-icon>
            </button>
            }
            @if (contacts.length > 1) {
            <button class="mx-2" type="button" mat-mini-fab color="warn" (click)="removeContact($index)">
              <mat-icon>delete</mat-icon>
            </button>
            }
          </div>
        </div>
      </div>
      }
    </div>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input type="text" formControlName="city" matInput>
      @if(city?.hasError('required') && city?.invalid && (city?.dirty || city?.touched)) {
      <mat-error>City is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input type="text" formControlName="address" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input type="text" formControlName="country" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Industry</mat-label>
      <input type="text" formControlName="industry" matInput>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton mat-dialog-close>Cancel</button>
    <button matButton type="submit" [mat-dialog-close]="" [disabled]="companyAddForm.invalid">Confirm</button>
  </mat-dialog-actions>
</form>