<h2 mat-dialog-title>Add contact</h2>
<form [formGroup]="contactAddForm" (ngSubmit)="onSubmitContactForm()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input id="firstName" type="text" formControlName="firstName" matInput fiedmatInput placeholder="Placeholder">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input id="lastName" type="text" formControlName="lastName" matInput placeholder="Placeholder">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
    <div formArrayName="emails">
      @for (emailControl of emails.controls; track $index) {
      <div style="display: flex;">
        <div [formGroupName]="$index">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput placeholder="Enter an email...">
          </mat-form-field>
        </div>
        <div>
          @if ($index === emails.length - 1) {
          <button class="mx-2" type="button" mat-mini-fab color="primary" (click)="newEmail()">
            <mat-icon>add</mat-icon>
          </button>
          }
          @if (emails.length > 1) {
          <button class="mx-2" type="button" mat-mini-fab color="warn" (click)="removeEmail($index)">
            <mat-icon>delete</mat-icon>
          </button>
          }
        </div>
      </div>
      }
    </div>
    <div formArrayName="phones">
      @for (phoneControl of phones.controls; track $index) {
      <div style="display: flex;">
        <div [formGroupName]="$index">
          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input type="text" formControlName="phone" matInput placeholder="Enter a phone number...">
          </mat-form-field>
        </div>
        <div>
          @if ($index === phones.length - 1) {
          <button class="mx-2" type="button" mat-mini-fab color="primary" (click)="newPhone()">
            <mat-icon>add</mat-icon>
          </button>
          }
          @if (phones.length > 1) {
          <button class="mx-2" type="button" mat-mini-fab color="warn" (click)="removePhone($index)">
            <mat-icon>delete</mat-icon>
          </button>
          }
        </div>
      </div>
      }
    </div>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input id="city" type="text" formControlName="city" matInput placeholder="Placeholder">
      <mat-icon matSuffix></mat-icon>
      @if(city?.hasError('required') && city?.invalid && (city?.dirty || city?.touched)) {
      <mat-error>
        City is required
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input id="address" type="text" formControlName="address" matInput placeholder="Placeholder">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input id="country" type="text" formControlName="country" matInput placeholder="Placeholder">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton mat-dialog-close>Cancel</button>
    <button matButton type="submit" [mat-dialog-close]="" [disabled]="this.contactAddForm.invalid">Confirm</button>
  </mat-dialog-actions>
</form>