<mat-list>
   <mat-list-item>
      <button mat-button routerLink="/app-dashboard">Dashboard</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button routerLink="/app-contact">Contact</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button routerLink="/app-calendrier">Calendar</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button routerLink="/app-opportunity">Opportunity</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button routerLink="/app-automation">Automation</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button routerLink="/app-workflow">Workflow</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button routerLink="/app-reporting">Reporting</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button routerLink="/app-media">Media</button>
    </mat-list-item>
  </mat-list>
