<mat-list>
  <!-- <mat-list-item>
    <button mat-button routerLink="/app-dashboard">Dashboard</button>
  </mat-list-item> -->
  <mat-list-item>
    <button mat-button routerLink="/contacts">Contacts</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/companies">Companies</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/opportunity">Opportunities</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/calendrier">Calendar</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/workflow">Workflow</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/reporting">Reporting</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/documents">Documents</button>
  </mat-list-item>
</mat-list>