<div class="toolbar mx-2 my-2">
  <button matMiniFab aria-label="button with a add icon" (click)="openAddDialog()"
    [disabled]="this.selection.selected.length >= 1">
    <mat-icon>add</mat-icon>
  </button>
  <button matMiniFab aria-label="button with a edit icon" class="mx-3" (click)="openEditDialog()"
    [disabled]="this.selection.selected.length == 0 || this.selection.selected.length == 2">
    <mat-icon>edit</mat-icon>
  </button>
  <button matMiniFab aria-label="button with a delete" (click)="openDeleteDialog()"
    [disabled]="this.selection.selected.length < 1">
    <mat-icon>delete</mat-icon>
  </button>
  <button matMiniFab aria-label="button with a add icon" class="mx-3" (click)="goToDetailsPage()"
    [disabled]="this.selection.selected.length !== 1">
    <mat-icon>visibility</mat-icon>
  </button>
  <app-column-picker class="ms-auto" [columns]="columns" target="CONTACT" />
</div>
<div class="mat-elevation-z8 table-scroll">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox onkeydown="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    @for (column of columns.all(); track column.id) {
      <ng-container [matColumnDef]="column.id">
        <th mat-header-cell *matHeaderCellDef [class.numeric]="column.field?.type === 'NUMBER'">
          <div class="header-cell">
            <span mat-sort-header [arrowPosition]="column.field?.type === 'NUMBER' ? 'before' : 'after'">{{ column.label }}</span>
            @if (column.field) { <app-column-header-menu [field]="column.field" [columns]="columns" /> }
          </div>
        </th>
        <td mat-cell *matCellDef="let element" (click)="goToDetailsPage(element)" [class.numeric]="column.field?.type === 'NUMBER'">
          {{ display(element, column) }}
        </td>
      </ng-container>
    }
    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef class="add-column">
        <button mat-icon-button type="button" (click)="addColumn()" aria-label="Add a column">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element" (click)="goToDetailsPage(element)"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>