/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
    --mat-snackbar-container-color: #43a047;
    --mat-snackbar-supporting-text-color: white;
    --mat-snackbar-action-color: black;
    --mat-snackbar-action-text-color: black;
    --mat-mdc-snack-bar-button-color: black;

    color: #fff;
}