<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="w-50 container mt-5 example-full-width">
    <div class="d-flex flex-column gap-3">
        <mat-form-field>
            <mat-label for="firstName">First Name :</mat-label>
            <input matInput id="firstName" type="text" formControlName="firstName"/>
            @if(firstName?.hasError('required') && firstName?.invalid && (firstName?.dirty || firstName?.touched)) {
                <mat-error>
                    First name is required
                </mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label for="lastName">Last Name :</mat-label>
            <input matInput id="lastName" type="text" formControlName="lastName"/>
            @if(lastName?.hasError('required') && lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
                <mat-error>
                    Last name is required
                </mat-error>
            }
        </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary" [disabled]="profileForm.invalid ||!formHasChanged()">Confirm</button>
</form>